---
const today = new Date();
---

<footer>
  <p>&copy; {today.getFullYear()} Adrian Altner.</p>
</footer>
<style>
  footer {
    width: 960px;
    max-width: calc(100% - 2em);
    margin: auto;
    color: rgb(var(--gray));
  }
  footer p {
	padding-left: .5em;
	margin: 0;
	font-size: 0.875em;
  }
</style>
