---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		color: black;
		text-decoration: none;
		position: relative;
	}
	a.active {
		font-weight: bolder;
	}
	a::after {
		content: '';
		position: absolute;
		width: 0;
		height: 2px;
		bottom: 0;
		left: 50%;
		background-color: var(--accent);
		transition: all 0.3s ease;
	}
	a:hover::after,
	a.active::after {
		width: 80%;
		left: 10%;
	}
</style>
